/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
/*   display: flex;
  justify-content: center;
  flex-wrap: wrap; */
}

h1 {
  font-style: italic;
  color: #373fff;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 33px;
  z-index: 9;
  margin: 20px;
/*   position: absolute; */
  text-decoration: none;
  text-align: center;
}

p {
  font-size: 24px;
  z-index: 15;
  margin: 20px;
/*   position: absolute; */
  text-decoration: none;
  top: 20%;
  text-align: center;
}

/* Dropdown Button */
/* .droplink {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
} */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.home {
  font-size: 36px;
}

.page-textbox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.page-statement {
  width: 600px;
  position: absolute;
  top: 17%;
  right: 15%;
  }

.mirror {
width: 30%;
  height: 38%;
/*   object-fit: cover;             */
  position: absolute;
  top: 15%;
  left: 23%;
}

.cart {
  width: 30%;
  height: 38%;
/*   object-fit: cover;             */
  position: absolute;
  top: 15%;
  left: 23%;
}

.pencil {
 width: 30%;
  height: 38%;
/*   object-fit: cover;             */
  position: absolute;
  top: 15%;
  left: 23%;
}

.backpack {
  width: 30%;
  height: 38%;
/*   object-fit: cover;             */
  position: absolute;
  top: 15%;
  left: 23%;
}

.books {
  width: 30%;
  height: 38%;
/*   object-fit: cover;             */
  position: absolute;
  top: 15%;
  left: 23%;
}

.sofa {
  width: 30%;
  height: 38%;
/*   object-fit: cover;             */
  position: absolute;
  top: 15%;
  left: 23%;
}

.newspaper {
  width: 30%;
  height: 38%;
/*   object-fit: cover;             */
  position: absolute;
  top: 15%;
  left: 23%;
}

.listings {
  position: relative;
  margin-top: 450px;
  margin-left: 85px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: space-around;
}

.resource-textbox {
  display: flex; 
  position: relative;
  width: 30%;
  margin-bottom: 40px;
}

.image {
  display: block;
  position: relative;
  width: 75%;
  height: auto;
  border: 2px solid black;
  border-radius: 20px;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 75%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  align-content: center;
}

.resource-textbox:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  top: 25%;
  left: 25%;
  text-align: center;
}

 div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 75%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}


.gallery {
  justify-content: flex-end;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color: white; 
  color: black; 
  border: 2px solid #FFD044;
  text-align: center;
}

.button:hover {
  background-color: #FFD044;
  color: white;
}

.container-button {
  display: flex;
  justify-content: center;
  margin-top: 325px;
}

.listings-job {
  position: relative;
  margin-top: 75px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: space-around;
}

.viz {
  
}

.food {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around;
}

.map {
  margin-top: 350px;
  border: 2px solid black;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #FFD044;
  text-align: center;
}

.button1:hover {
  background-color: #FFD044;
  color: white;
}

.container-button1 {
  display: flex;
  justify-content: center;
  margin-top: 325px;
}
